<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web3-transaction</title>
</head>
<body>
<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/registration">Registration</a>
        </td>
    </tr>
</table>

<form method="POST">
    <p>Sender Name: <input type="text" name="senderName"/></p>
    <p>Sender Password: <input type="text" name="senderPass"/></p>
    <p>Count: <input type="text" name="count"/></p>
    <p>Name To: <input type="text" name="nameTo"/></p>
    <p><input type="submit" value="Transaction"></p>
</form>

</body>
</html>